.sidebar {
    background-color: white;

}

.sidebar.open {
    background-color: #f17fcb;
}

.background {
    background-color: grey;
}

.nav {
   
    height: 100px;
    width: 40%;
    color:#070707;
    font-size: 30px;
}

.nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.nav a:hover {
    color: #f17fcb;
    text-decoration: none;
}

.nav a.active {
    color: #0e0af7;
    text-decoration: none;
}
.close {
    background-color: #7ff18e;
}

.close img {
    border: #7ff18e;
}
