.input:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #007bff;
    /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add a box shadow when focused */
}

.input {
    padding: 10px;
    /* Add padding to create some space inside the input field */
    border: 1px solid #ccc;
    /* Add a border to the input field */
    border-radius: 5px;
}

.inputWrapper {
    padding: 10px;
    /* Add padding to create some space inside the input field */
    border: 1px solid #ccc;
    /* Add a border to the input field */
    border-radius: 5px;
    /* Add rounded corners to the input field */
    width: 100%;
    /* Make the input element fill the entire width of the wrapper */
}


.superInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.errorInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff0000;
    font-size: 16px;
}

.errorInput:focus {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #ff0000;
    font-size: 12px;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.error {
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
}