.tech {
    width: 50vw;
}

.developer {
width:auto
}

.techHeader {
    width: 50vw;
}

.developerHeader {
    width:auto
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    width:auto
}

.icon {
    width: 40px;
    height: 20px;
}
